<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="qrcode.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Ambiente Autore</title>
  </head>
  <body>
    <!--COLLASSABILE DI MENU SERVER/FILES-->
    <div id="app" class="container-fluid mb-4">
      <!--AREA DI TEST PER LATO SERVER E CARICAMENTO FILES-->
      <button class="btn btn-block btn-primary" type="button" data-toggle="collapse" data-target="#managedata">VVV SERVER AND DATA VVV</button>
      <div id="managedata" class="row container-fluid collapse p-3">
        <div id="server-manage" class="col-md-8 border-right">
          <h2 class="bg-info text-light">Server Stories</h2>
          <div class="row">
            <!--GET / DELETE IN FS-->
            <label for="select-story">Registered Stories</label>
            <select name="select-story" class="custom-select" size="6" ref="selectedStory">
              <option v-for="story in storyList" :value="story" data-toggle="tooltip" :title="activeStoryList.includes(story) ? 'Active' : 'Inactive'"
              :style="{ color: activeStoryList.includes(story) ? 'green' : 'red' }">{{ story }}</option>
            </select>
            <div class="btn btn-group">
              <button class="btn btn-success" v-on:click="getStory">GET</button>
              <button class="btn btn-danger" v-on:click="deleteStory">DELETE</button>
            </div>
          </div>
          <!--IMMAGINI CARICATE-->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group mb-2">
                <label for="img_upload">Upload for selected story: </label>
                <input class="form-control-file" type="file" accept="image/*" name="img_upload" ref="img_upload">
              </div>
              <button class="btn btn-primary" v-on:click="uploadImg()">UPLOAD</button>
            </div>
            <div class="col-md-4">
              <div class=" row form-group mb-2">
                <label for="select-image">Images in selected story: </label>
                <select name="select-image" class="form-control" v-model="selectedImage">
                  <option v-for="imgname in imagesList" :value="imgname">{{ imgname }}</option>
                </select>
                <div id="image-preview" v-if="selectedImage" class="container-fluid mt-2">
                  <img class="img-thumbnail" :src="'story/' + metadata.name + '/images/' + selectedImage" :alt="'Preview of ' + selectedImage">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="saveload" class="col-md-4 border-left">
          <h2 class="bg-info text-light">SAVE/LOAD FROM LOCAL FS</h2>
          <div id="jsonLoader" class="form-group">
            <label for="file-loader">Json Loader</label>
            <input name="file-loader" class="form-control-file" type="file" ref="toLoad">
            <button v-on:click="loadJson">Load JSON</button>
          </div>
          <div id="jsonSaver">
            <label for="file-downloader">Json Saver</label>
            <input name="file-downloader" type="text" value="myfile.json" ref="fileName">
            <button v-on:click="saveJson">Download JSON</button>
	    <button v-on:clock="createQR">Create QR Code!</button>
          </div>
        </div>
      </div>
      <!--AREA PREVIEW E STORY SETTING-->
      <div class="container-fluid border">
        <div id="server-storyinfo" class="row container-fluid pt-2 pb-2 border-bottom">
          <div class="col form-group">
            <label for="story-name">Story Name</label>
            <input name="story-name" class="form-control" type="text" v-model="metadata.name">
          </div>
          <div class="col form-check">
            <label for="activate" class="form-check-label"><input name="activate" class="form-check-input" type="checkbox" v-model="metadata.active">
              Active
            </label>
          </div>
          <div class="col form-check">
            <label for="accessibility" class="form-check-label"><input name="accessibility" class="form-check-input" type="checkbox" v-model="metadata.accessible">
              Accessible
            </label>
          </div>
          <div class="col form-group">
            <label for="language">Language</label>
            <input name="language" class="form-control" type="text" v-model="metadata.language">
          </div>
          <div class="btn-group">
            <button class="col btn btn-info" v-on:click="postStory">POST</button>
            <button class="col btn btn-secondary" v-on:click="resetStory">NEW</button>
          </div>
        </div>
        <div id="editor" class="row container-fluid">
          <!--QUICK ACCESS/CREATION/REMOVAL-->
          <div class="col-md-2 container pt-3 pb-3 border-right">
            <!--Passaggio da schermata main a sub e viceversa-->
            <div class="btn-group container-fluid pb-3">
              <button class="btn btn-light" v-on:click="switchMainSub" :disabled="previewdata.in_mainquest">Main</button>
              <button class="btn btn-light" v-on:click="switchMainSub" :disabled="!previewdata.in_mainquest">Sub</button>
            </div>
            <!--Aggiunta nuovo nodo main/sub-->
            <div class="container pd-1">
              <button class="btn btn-primary" v-on:click="addNode">Add New</button>
            </div>
            <div class="btn-group pt-1 pb-1">
              <button class="btn btn-secondary" v-on:click="copyStory">Copy</button>
              <button class="btn btn-secondary" v-on:click="pasteStory">Paste</button>
            </div>
            <!--Accesso rapido alle quest usando v-for buttons-->
            <!--TODO Chiuderlo in un box con overflow a scorrimento maybe?-->
            <div>
              <label for="questlistcontainer">Quick Access:</label>
              <div name="questlistcontainer" class="container border-top p-2 mx-25 overflow-auto">
                <div v-for="quest in questList" class="btn-group container-fluid pb-1">
                  <button class="btn" data-toggle="tooltip" :title="quest.title" v-on:click="changeQuest(quest.number)">{{ quest.number }}</button>
                  <button class="btn btn-danger" v-on:click="previewdata.in_mainquest ? rmMainNode(quest.number) : rmSubNode(quest.number)">Delete</button>
                  <span class="col form-check ml-1" id="subquestadd" v-if="!previewdata.in_mainquest">
                    <input class="form-check-input" :name="'sub ' + quest.number" type="checkbox" :value="quest.number" v-model="previewdata.completedSubs">
                    <label class="form-check-label" :for="'sub ' + quest.number">Completed</label>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!--PREVIEW E OBJECT EDITOR-->
          <div class="col-md-10">
            <!--PREVIEW-->
            <div id="preview" class="container pt-3 pb-3 row border-bottom">
                <div id="questRender" class="card col"
                :style="{ color: gamedata.css_style.card.textColor, 'font-family': gamedata.css_style.card.textFont, 'font-style': gamedata.css_style.card.textStyle,
                 'background-color': gamedata.css_style.card.bgColor }">
                  <div>
                    <div class="card-header">
                      <h3>Current main state is {{ previewdata.currentQuest }}!</h3>
                    </div>
                    <div class="card-body" style="position: relative;">
                      <p class="card-text">{{ renderQuest.text }}</p>
                      <p class="card-text">{{ renderQuest.description ? renderQuest.description : "" }}</p>
                      <ul v-if="previewdata.in_mainquest" class="card-text">
                        <li v-for="clue in getCurrentClues">{{ clue }}</li>
                      </ul>

                      <!--Qua sotto div in cui caricare box per dare input usando components, cambia a seconda del tipo di quest-->
                      <div id="gameinput">
                        <component v-bind:is="currentComponent" :gamedata="renderQuest" :metadata="metadata" :current="previewdata.in_mainquest ? previewdata.currentQuest : previewdata.currentSub"
            						:options="previewdata.in_mainquest ? getCurrentOptions : renderQuest.options" ref="inputComponent" v-model="previewdata.picked"></component>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <p>Current answer is: {{ previewdata.picked }}</p>
                  <button class="btn btn-secondary" v-if="previewdata.picked" data-toggle="tooltip" :title="previewdata.in_mainquest ? gamedata.mainQuest[getAnswerGoto].title : ''"
                  v-on:click="jumpToQuest('main',getAnswerGoto)" :disabled="!previewdata.in_mainquest">
                    {{ previewdata.in_mainquest ? ("This will take you to " + getAnswerGoto) : ("Answer is " + getAnswerCorrectness) }}
                  </button>
                </div>
            </div>
            <!--FINE PREVIEW-->
            <!--OBJECT EDITOR-->
            <div id="questgraph" class="container-fluid pt-3 row">
              <!--PREV-->
              <div class="col-md-2 border-right pt-2 pb-2">
                <h2 class="bg-info text-light">Previous Nodes</h2>
                <button class="btn btn-secondary btn-block" data-toggle="tooltip" :title="gamedata.mainQuest[prev].title" v-for="prev in getPrevNodes" v-on:click="jumpToQuest('main',prev)">{{ prev }}</button>
              </div>
              <!--CAMPI QUEST ATTUALE-->
              <div class="col-md-6 border-right pt-2 pb-2">
                <!--Quest ID-->
                <div class="form-group row">
                  <label for="numberfield" class="col-md-2 col-form-label">Number</label>
                  <div class="col-md-10">
                    <input name="numberfield" type="text" readyonly class="form-control-plaintext" :value="renderQuest.number">
                  </div>
                </div>
                <!--Quest TITLE-->
                <div class="form-group row">
                  <label for="titlefield" class="col-md-2 col-form-label">Title</label>
                  <div class="col-md-10">
                    <input name="titlefield" type="text" class="form-control" v-model="renderQuest.title">
                  </div>
                </div>
                <!--Quest OBJECTIVE (subquests only)-->
                <div class="form-group row" v-if="!previewdata.in_mainquest">
                  <label for="objectivefield" class="col-md-2 col-form-label">Objective</label>
                  <div class="col-md-10">
                    <input name="objectivefield" class="form-control" type="text" v-model="renderQuest.objective">
                  </div>
                </div>
                <!--Quest TEXT-->
                <div class="form-group row">
                  <label for="textfield" class="col-md-2 col-form-label">Text</label>
                  <div class="col-md-10">
                    <textarea name="textfield" class="form-control" type="text" v-model="renderQuest.text"></textarea>
                  </div>
                </div>
                <!--Quest AVAILABLE_ON (subquests only)-->
                <label for="availableonfield" v-if="!previewdata.in_mainquest">Available on quests</label>
                <div name="availableonfield" v-if="!previewdata.in_mainquest">
                  <div v-for="quest in gamedata.mainQuest" class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" :name="'quest' + quest.number" :value="quest.number" v-model="renderQuest.available_on">
                    <label for="'quest' + quest.number" class="form-check-label"> {{ quest.number }}</label>
                  </div>
                </div>
                <!--Quest REQUIRES_SUBQUEST (subquests only)-->
                <label for="subreqfield" v-if="!previewdata.in_mainquest">Requires subquests</label>
                <div name="subreqfield" v-if="!previewdata.in_mainquest">
                  <div v-for="sub in gamedata.subQuests" class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" :name="'sub' + sub.number" :value="sub.number" v-model="renderQuest.requires_sub">
                    <label :for="'quest' + sub.number">{{ sub.number }}</label>
                  </div>
                </div>
                <!--Quest DESCRIPTION-->
                <div class="form-group row">
                  <label for="descriptionfield" class="col-md-2 col-form-label">Description</label>
                  <div class="col-md-10">
                    <textarea name="descriptionfield" class="form-control" type="text" v-model="renderQuest.description"></textarea>
                  </div>
                </div>
                <!--Quest INPUT TYPE-->
                <label name="inputtypefield">Input Type</label>
                <div name="inputtypefield">
                  <div class="form-check form-check-inline">
                    <input type="radio" id="nonechoice" class="form-check-input" name="typefield" value="" v-model="renderQuest.type">
                    <label for="nonechoice" class="form-check-label">None</label>
                  </div>
                  <div class="form-check form-check-inline" v-if="previewdata.in_mainquest">
                    <input type="radio" id="choicechoice" class="form-check-input" name="typefield" value="choice" v-model="renderQuest.type">
                    <label for="choicechoice" class="form-check-label">Choice</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" id="texthoice" class="form-check-input" name="typefield" value="input" v-model="renderQuest.type">
                    <label for="textchoice" class="form-check-label">Text</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" id="imgchoice" class="form-check-input" name="typefield" value="draw" v-model="renderQuest.type">
                    <label for="imgchoice" class="form-check-label">Image</label>
                  </div>
                  <div class="form-check form-check-inline" v-if="previewdata.in_mainquest">
                    <input type="radio" id="endchoice" class="form-check-input" name="typefield" value="ending" v-model="renderQuest.type">
                    <label for="endchoice" class="form-check-label">Ending</label>
                  </div>
                </div>
                  <!-- Quest OPTIONS (only if type is choice)-->
                  <label for="optionsfield" v-if="renderQuest.type == 'choice'">Options</label>
                  <div name="optionsfield" v-if="renderQuest.type == 'choice'">
                    <div class="form-group" v-for="opt in renderQuest.options">
                      <input class="form-control" v-model="renderQuest.options[renderQuest.options.indexOf(opt)]">
                    </div>
                    <div class="btn-group">
                      <button class="btn btn-outline-primary" v-on:click="addRmOptions('add')">Add</button>
                      <button class="btn btn-outline-primary" v-on:click="addRmOptions('rm')">Remove</button>
                    </div>
                    <div class="btn-group">
                      <button class="btn btn-outline-primary" v-on:click="generateChoiceGotos">Generate Gotos</button>
                    </div>
                  </div>
                  <!-- Quest CHOOSE IMAGE (only if type is draw)-->
                  <div v-if="renderQuest.type == 'draw'">
                    <div class="form-group">
                      <label for="select-image">Choose image</label>
                      <select name="select-image" class="form-control" v-model="renderQuest.image.imguri">
                        <option v-for="imgname in imagesList" :value="imgname">{{ imgname }}</option>
                      </select>
                    </div>
                    <div id="image-preview" class="container p-1">
                      <img class="img-thumbnail" :src="'story/' + metadata.name + '/images/' + renderQuest.image.imguri" :alt="'Preview of ' + renderQuest.image.imguri">
                    </div>
                    <div class="form-group">
                      <label for="setImgAlt">Choose alt for image</label>
                      <input name="setImgAlt" class="form-control" type="text" v-model="renderQuest.image.imgalt">
                    </div>
                    <button class="btn btn-outline-secondary" v-on:click="setImageAsInput">Set</button>
                  </div>
                  <!-- Quest SUBQUEST REWARDS (main quests only)-->
                  <label for="subrewardfield" v-if="previewdata.in_mainquest">Subquest rewards</label>
                  <div name="subrewardfield" v-if="previewdata.in_mainquest">
                    <div class="btn-group">
                      <button class="btn btn-outline-primary" v-on:click="addSubReward">Add</button>
                      <select name="subquests" class="form-control" ref="subtoadd">
                        <option v-for="sub in getRemainingSubs" :value="sub.number">Number {{ sub.number }}</option>
                      </select>
                    </div>
                    <div v-for="sub in renderQuest.subquest_rewards" class="container-fluid pt-1">
                      <div class="btn-group">
                        <button class="btn btn-outline-secondary" :data-target="'#' + 'reward' + sub.number" data-toggle="collapse">Reward for subquest {{ sub.number }}</button>
                        <button class="btn btn-outline-danger" v-on:click="rmSubReward(sub)">Remove Reward</button>
                      </div>
                      <div :id="'reward' + sub.number" class="collapse container p-2 border-bottom">
                        <!--Reward NUMBER-->
                        <div class="form-group row">
                          <label class="col-md-2 col-form-label" for="subnumber">Number</label>
                          <div class="col-md-10">
                            <input type="text" name="subnumber" readonly class="form-control-plaintext" :value="sub.number">
                          </div>
                        </div>
                        <!--Reward CLUE-->
                        <div class="form-group row">
                          <label class="col-md-2 col-form-label" for="cluefield">Clue</label>
                          <div class="col-md-10">
                            <input name="cluefield" type="text" v-model="sub.clue">
                          </div>
                        </div>
                        <!--Reward ADDED OPTIONS-->
                        <label for="subchoice" v-if="renderQuest.type=='choice'">Added Options</label>
                        <div name="subchoice" v-if="renderQuest.type=='choice'">
                          <input v-for="opt in sub.added_options" v-model="sub.added_options[sub.added_options.indexOf(opt)]">
                          <div class="btn-group">
                            <button class="btn btn-outline-primary" v-on:click="addRmSubAddedOptions('add',renderQuest.subquest_rewards.indexOf(sub))">Add</button>
                            <button class="btn btn-outline-primary" v-on:click="addRmSubAddedOptions('rm',renderQuest.subquest_rewards.indexOf(sub))">Remove</button>
                          </div>
                        </div>
                        <!--Reward REMOVED OPTIONS-->
                        <label for="rmoptsub" v-if="renderQuest.type=='choice'">Removed Options</label>
                        <div name="rmoptsub" v-if="renderQuest.type=='choice'">
                          <div v-for="opt in renderQuest.options">
                            <input readonly class="form-control" :value="opt">
                            <div class="form-check row">
                              <input type="checkbox" :name="'opt' + renderQuest.options.indexOf(opt)" class="form-check-input" :value="opt" v-model="sub.removed_options">
                              <label :for="'opt' + renderQuest.options.indexOf(opt)" class="form-check-label">Removed</label>
                            </div>
                          </div>
                        </div>
                        <!--Reward ADDED GOTOS-->
                        <label for="addedgotosub">Added Gotos</label>
                        <div name="addedgotosub">
                          <div class="form-group row" v-for="goto in sub.added_goto">
                            <input class="form-control col-md-8" type="text" v-model="goto[0]">
                            <select class="form-control col-md-4" name="quests" v-model="goto[1]">
                              <option v-for="quest in questList" :value="quest.number">Number {{ quest.number }}</option>
                            </select>
                            <div class="btn-group">
                              <button class="btn btn-outline-danger" v-on:click="rmAddedGoto(sub,goto)">Remove</button>
                            </div>
                          </div>
                          <div class="btn-group">
                            <button class="btn btn-outline-primary" v-on:click="addAddedGoto(sub)">Add</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ul>
              </div>
              <!--GOTOS-->
              <div class="col-md-4 pt-2 pb-2">
                <!--GOTOS in caso di mainquest-->
                <div id="goto-management" v-if="previewdata.in_mainquest">
                  <div v-if="previewdata.in_mainquest">
                    <p>If no choice matches last goto in list will be chosen.</p>
                    <div class="container-fluid border-bottom pb-4">
                      <h2 class="bg-info text-light">Default Gotos</h2>
                      <div class="form-group" v-for="opt in renderQuest.goto">
                        <input class="form-control" type="text" v-model="opt[0]">
                        <select class="form-control" name="quests" v-model="opt[1]">
                          <option v-for="quest in questList" data-toggle="tooltip" :title="quest.title" :value="quest.number">Number {{ quest.number }}</option>
                        </select>
                        <!--Removed gotos for subquest_rewards-->
                        <label for="goto-remove" class="form-check-label">Removed by:</label>
                        <div name="goto-remove">
                          <div class="form-check form-check-inline" v-for="reward in renderQuest.subquest_rewards">
                            <input class="form-check-input" type="checkbox" :name="'sub' + renderQuest.subquest_rewards.indexOf(reward)" :value="opt" v-model="reward.removed_goto">
                            <label class="form-check-label" :for="'sub' + renderQuest.subquest_rewards.indexOf(reward)">Reward {{ reward.number }}<label>
                          </div>
                        </div>
                      </div>
                      <div class="btn-group">
                        <button class="btn btn-primary" v-on:click="addGoto('')">Add empty</button>
                        <button class="btn btn-danger" v-on:click="rmGoto">Remove</button>
                      </div>
                      <div v-if="renderQuest.type=='draw'" class="container-fluid pt-2">
                        <p>Or select a point from the preview and set a radius to generate a goto for your image.</p>
                        <div class="btn-group">
                          <div class="form-group">
                            <label for="goto-radius">Radius</label>
                            <input class="form-control" type="text" v-model="radiusInput">
                          </div>
                          <p v-if="previewdata.picked">Goto currently set to {{ previewdata.picked }} with radius {{ radiusInput }}.</p>
                          <button class="btn btn-primary" v-on:click="addGoto('image')">Add</button>
                        </div>
                      </div>
                    </div>
                    <div class="container-fluid">
                      <h2 class="bg-info text-light mt-2">Added Gotos</h2>
                      <!--getAddedGotos restituisce coppia [indice subquest, goto]-->
                      <div v-for="opt in getAddedGotos">
                        <input type="text" v-model="renderQuest.subquest_rewards[opt[0]].added_goto[renderQuest.subquest_rewards[opt[0]].added_goto.indexOf(opt[1])][0]">
                        <select name="quests" v-model="renderQuest.subquest_rewards[opt[0]].added_goto[renderQuest.subquest_rewards[opt[0]].added_goto.indexOf(opt[1])][1]">
                          <option v-for="quest in questList" data-toggle="tooltip" :title="quest.title" :value="quest.number">Number {{ quest.number }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="solutions-management" v-if="!previewdata.in_mainquest">
                  <h2 class="bg-info text-light">Solutions</h2>
                  <div class="mb-2" v-for="sol in renderQuest.solution">
                    <input class="form-control" type="text" v-model="renderQuest.solution[renderQuest.solution.indexOf(sol)]">
                    <button class="btn btn-danger" v-on:click="rmSolution(sol)">Remove</button>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-primary" v-on:click="addSolution">Add</button>
                  </div>
                  <div v-if="renderQuest.type=='draw'" class="container-fluid pt-2">
                    <p>Or select a point from the preview and set a radius to generate a goto for your image.</p>
                    <div class="btn-group">
                      <div class="form-group">
                        <label for="goto-radius">Radius</label>
                        <input class="form-control" type="text" v-model="radiusInput">
                      </div>
                      <p v-if="previewdata.picked">Goto currently set to {{ previewdata.picked }} with radius {{ radiusInput }}.</p>
                      <button class="btn btn-primary" v-on:click="addSolution('image')">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--FINE OBJECT EDITOR-->
          </div>
        </div>
	<div hidden><a id="qrcode" href="placeholder" download></a></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="vue_autore.js"></script>
    <script type="text/javascript" src="utils.js"></script>
  </body>
</html>
