.color-interact {
    background-color: #2979FF;
    color: white;
}
.color-interact:hover {
    background-color: #2962FF;
    color: white;
}

.color-static {
    background-color: #42A5F5;
    color: white;
}

.color-static-light {
    background-color: #b6dafc;
    color: #404040;
}

.color-expand {
    background-color: #1565C0;
    color: white;
}
.color-expand:hover {
    background-color: #0D47A1;
    color: white;
}

.color-dropdown {
    color: #0D47A1;
}

.color-ended {
  color: white;
  background-color: #42b461;
}

.color-ended:hover {
  color: white;
  background-color: #42b461;
}

.color-warning {
  color: black;
  background-color: #fbec6d;
}
