.color-interact {
    background-color: #2979FF;
    color: white;
}
.color-interact:hover {
    background-color: #2962FF;
    color: white;
}

.color-static {
    background-color: #42A5F5;
    color: white;
}

.color-static-light {
    background-color: #b6dafc;
    color: #404040;
}

.color-expand {
    background-color: #1565C0;
    color: white;
}
.color-expand:hover {
    background-color: #0D47A1;
    color: white;
}
