.dropdown-item:active{
	background: transparent;
}
.player-card {
	position: relative;
	height: 75%;
}

.player-card-author {
	position: relative;
	height: 75%;
}

.player-footer {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
}
