/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.player-card-author {
    position: relative;
    height: 100%;
}

#completedsubs-name-container {
   position: relative;
   background-color: yellow;
}

#preview-menu {
    height: 667px;
}

#solutions-container {
    height: 50%;
    overflow-y: auto;
}

#preview-menu-container {
    height: 50%;
}

.principal {
    text-decoration: underline;
}

#chat {
    height: 60vh;
}

#chatbutton {
    width: 100%;
}

#chatcontainer {
    height: 100%;
}

#chatmessagecontainer {
    height: 90%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.chatmessage {
    width: 80%;
    float: right;
}

.sendbutton{
    height: 7%;
}

.chat-user {
    border-left: none;
    border-right: none;
}

.chat-user:hover {
    background-color: #ebeced;
}

.chat-user-selected, .chat-user-selected:focus,
.chat-user-selected:focus, .chat-user-selected:active{
    background-color: #ebeced;
}

.chat-user.focus, .chat-user:focus {
    outline: none !important;
}

.pre:active {
    background-color: inherit;
    color: inherit;
}

.pre:hover {
    background-color: inherit;
}

.pre-button {
    box-shadow: none !important;
}

.fade-in {
    --seconds: 1s;
    animation: fadeIn ease var(--seconds);
    -webkit-animation: fadeIn ease var(--seconds);
    -moz-animation: fadeIn ease var(--seconds);
    -o-animation: fadeIn ease var(--seconds);
    -ms-animation: fadeIn ease var(--seconds);
}
@keyframes fadeIn{
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
 }
@-o-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-ms-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
 }

.overflow-y-auto {
  overflow: hidden;
  overflow-y: auto;
}

.device-check {
  position: fixed;
  bottom: 0;
  right: 0;
}
