<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/http-vue-loader"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue-qrcode-reader/dist/VueQrcodeReader.umd.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
   		<script src="https://unpkg.com/vue-observe-visibility/dist/vue-observe-visibility.min.js"></script>

   		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body class="border border-primary h-100">
        <div id="app">


            <div id="questloader" ref="questloader">
                <h1>QUEST LOADER</h1>
                <qrload style="height: 400px" :questname="questname"></qrload>
            </div>
			<!--Area navbar-->
            <div id="questrender" ref="questrender" hidden>

     			<nav class="navbar navbar-expand-md" :class="navbarBootstrapStyle" :style="navbarStyle">
                <div class="navbar-brand" :style="navbarBrandStyle">Menu
                    <span class="badge" :class="badgeBootstrapStyle" :style="badgeStyle" v-if="getSubquests.length > 0" role="alert">Subs!</span>
                </div>
                <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#collapsiblemenu" :style="toggleButtonContainer" v-observe-visibility="buttonChangedVisibility" aria-label="Apri il menu">
					<span class="navbar-toggler-icon" :style="{ 'background-image': togglerButtonStyle }"></span>
				</button>


                <div class="collapse navbar-collapse" id="collapsiblemenu">
                    <ul class="navbar-nav" aria-labelledby="quest-menu-button">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="quest-menu-button" href="#" data-toggle="dropdown" :style="questsStyle" role="button" aria-haspopup="true" role="menu" aria-controls="quest-menu-list">Quests</a>
                            <div class="dropdown-menu" id="quest-menu-list" :class="menuBootstrapStyle" :style="menuStyle">
                                <a class="dropdown-item" :style="menuLinkStyle(0)" v-on:mouseover="menuLinkEvent(0,true)" v-on:mouseleave="menuLinkEvent(0,false)" role="menuitem" href="#" v-on:click="goToMainQuest()">MainQuest {{currentQuest}}</a>
                                <div v-if="getSubquests.length > 0" role="none">
                                    <div class="dropdown-divider" :style="dividerStyle"></div>
                                    <a class="dropdown-item" role="menuitem" :style="menuLinkStyle(index+1)" v-on:mouseover="menuLinkEvent(index+1,true)" v-on:mouseleave="menuLinkEvent(index+1,false)" v-for="(quest,index) in getSubquests" href="#" v-on:click="goToSubQuest(quest)">Subquest {{quest.number}}: {{quest.objective}}</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ref="help" href="#" @click="requestHelp">
                                Chiedi aiuto
                                <span style="display:none" ref="requestedHelp" class="alert alert-info" role="alert">Aiuto richiesto! Attendi...</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        <!--Area quest-->
        <div ref="questrender" class="card" style="position: relative;"  :class="cardBootstrapStyle" :style="cardStyle" aria-live="polite">
            <div class="card-header" :style="cardLimitStyle">
                <h1 id="questname" ref="questname" tabindex="-1" :style="removePredefinedStylesCard">Name of Quest {{ currentQuest }}</h1>
            </div>
            <div class="card-body" :style="removePredefinedStylesCard">
                <p>{{ renderQuest.text }}</p>
                <p>{{ renderQuest.description || "" }}</p>
                <ul v-if="in_mainquest && getCurrentClues.length > 0">
                    <li v-for="clue in getCurrentClues">{{ clue }}</li>
                </ul>
                <!--Qua sotto div in cui caricare box per dare input usando components, cambia a seconda del tipo di quest-->
                <div id="gameinput">
                  <component v-bind:is="currentComponent" :gamedata="renderQuest" :current="in_mainquest ? currentQuest : currentSub"
                  :options="in_mainquest ? getCurrentOptions : renderQuest.options" v-model="picked" :styles="componentStyle"></component>
                </div>
            </div>

            <div v-if="renderQuest.type != 'ending'" class="card-footer" :style="cardLimitStyle">
                <button id="submit" ref="submitbutton" class="btn-default" :class="submitBootstrapStyle" :style="submitStyle" v-on:click="in_mainquest? submitMain() : submitSub()">Submit</button>
            </div>
       </div>
       </div>
       <div class="container border overflow-auto" id="chat">
         <div v-for="msg in chat">
           {{ msg.sender }} says: {{ msg.text }}
         </div>
         <form class="btn-group" v-on:submit.prevent>
           <input type="text" v-model="chatMsg">
           <button class="btn btn-success" v-on:click="sendChatMsg">Send</button>
         </form>
       </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 	 <script type="text/javascript" src="style_consts.js"></script>
 	 <script type="text/javascript" src="vue_player.js"></script>
        <script type="text/javascript" src="utils.js"></script>
    </body>
</html>
