<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Ambiente Valutatore</title>
  </head>
  <body>
    <div id="app">

      <div class="container">
        <h2>Storie in gioco</h2>
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active"
               :id="activeStories[0] + 'tab'"
               :href="'#' + activeStories[0]"
               data-toggle="tab" role="tab" :aria-controls="activeStories[0]" aria-selected="true">{{ activeStories[0] }}</a>
          </li>
          <li v-for="story in activeStories.slice(1)" class="nav-item" >
            <a class="nav-link"
                :id="story + 'tab'"
                :href="'#' + story"
                data-toggle="tab" role="tab" :aria-controls="story" aria-selected="false">{{ story }}</a>
          </li>
        </ul>
      </div>
      <hr>

     <div class="tab-content">
      <!-- Tab della prima storia------------------------------------------------------------------------------------------------------------------>
        <div class="tab-pane fade show active"
             :id="activeStories[0]"
             :aria-labelledby="activeStories[0] + 'tab'" role="tabpanel" >
          <div class="container">
            <div class="table-responsive table-wrapper">
              <div class="table-title bg-primary text-white rounded">
                <div class="row justify-content-around py-2">
                  <h1>Giocatori attivi</h1>
                    <button v-if="players_data" @click="saveJson" class="btn btn-light" ><span class="material-icons">&#xE24D;</span>Esporta statistiche in JSON</button>
                </div>
              </div>
              <table v-if="players_data" class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th v-for="(value, key) in firstPlayer">{{ key }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="player in players_data_shown_from_story[activeStories[0]]">
                      <td v-for="value in player">{{ value }}</td>
                      <td v-if="players_data[player.user_id].finished === false" class="float-right">
                          <div v-if="players_data[player.user_id].time_inactive > 60" class="badge badge-warning">Bloccato da tempo</div>
                          <div v-if="players_data[player.user_id].help_requested === true" class="badge badge-warning">Ha richiesto aiuto</div>
                          <button type="button" class="btn btn-sm btn-primary"
                            @click="sendHelp(player.user_id)">Aiuta il giocatore</button>
                      </td>
                      <td v-else class="badge badge-success float-right">Ha finito!</td>
                  </tr>
                  </tbody>
              </table>
            </div><br>

            <div id="previewblock" v-if="ongoing_stories[activeStories[0]]" class="container mt-3 mb-3">
              <button class="btn btn-block btn-outline-secondary" type="button" data-toggle="collapse" data-target="#story-preview-1">Preview Storia</button>
              <div id="story-preview-1" class="container-fluid collapse overflow-auto p-2">
                <div id="preview-menu" class="row">
                  <div class="form-check col-md-3">
                    <label class="form-check-label">
                      <input type="checkbox" v-model="previewdata.in_mainquest">
                      Mainquest
                    </label>
                  </div>
                  <div class="form-group col-md-6">
                    <div v-if="previewdata.in_mainquest">
                      <label for="mainselect">Seleziona Main</label>
                      <select class="form-input" v-model="previewdata.currentQuest">
                        <option v-for="quest in ongoing_stories[activeStories[0]].mainQuest" :value="quest.number">{{ quest.number }}: {{ ( quest.title || "" ) }}</option>
                      </select>
                    </div>
                    <div v-if="!previewdata.in_mainquest">
                      <label for="mainselect">Seleziona Sub</label>
                      <select class="form-input" v-model="previewdata.currentSub">
                        <option v-for="quest in  ongoing_stories[activeStories[0]].subQuests" :value="quest.number">{{ quest.number }}: {{ ( quest.title || "" ) }}</option>
                      </select>
                    </div>     
                  </div>
                </div>
                <div id="preview-view" v-if="getQuestData(activeStories[0])">
                  <div class="row m-1">
                    <div class="bg-primary col-6"><p class="text-light font-weight-bold">Titolo</p></div>
                    <div class="col-6">{{ (getQuestData(activeStories[0]).title || "none") }}</div>
                  </div>
                  <div class="row m-1">
                    <div class="bg-primary col-6"><p class="text-light font-weight-bold">Testo</p></div>
                    <div class="col-6"><p>{{ (getQuestData(activeStories[0]).text || "none") }}</p></div>
                  </div>
                  <div class="row m-1">
                    <div class="bg-primary col-6"><p class="text-light font-weight-bold">Descrizione</p></div>
                    <div class="col-6"><p>{{ (getQuestData(activeStories[0]).description || "none") }}</p></div>
                  </div>
                  <div class="row m-1">
                    <div class="bg-primary col-6"><p class="text-light font-weight-bold">Media</p></div>
                    <div class="col-6"><p>{{ (getQuestData(activeStories[0]).description || "none") }}</p></div>
                  </div>
                  <div v-if="getQuestData(activeStories[0]).type=='choice'" class="container m-1">
                    <div class="row bg-primary">
                      <p class="text-light font-weight-bold">Opzioni standard</p>
                    </div>
                    <div v-for="opt in getQuestData(activeStories[0]).options" class="row">
                      <p>{{ opt }}</p>
                    </div>
                    <div v-if="getQuestData(activeStories[0]).subquest_rewards.length > 0">
                      <div class="row bg-primary">
                        <p class="text-light font-weight-bold">Opzioni aggiunte</p>
                      </div>
                      <div v-for="sub in getQuestData(activeStories[0]).subquest_rewards">
                        <div v-for="opt in sub.added_options" class="row">
                          <div class="col-6"><p>Da: {{ sub.title || sub.number }}</p></div>
                          <div class="col-6"><p>{{ opt }}</p></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="previewdata.in_mainquest" class="container m-1">
                    <div class="container row bg-primary">
                      <p class="text-light font-weight-bold">Goto standard</p>
                    </div>
                    <div v-for="goto in getQuestData(activeStories[0]).goto" class="container row">
                      <div class="col-6"><p>Risposta: {{ goto[0] }}</p></div>
                      <div class="col-6"><p>Porta a: {{ goto[1] }}</p></div>
                    </div>
                    <div v-if="getQuestData(activeStories[0]).subquest_rewards.length > 0">
                      <div class="container row bg-primary">
                        <p class="text-light font-weight-bold">Goto aggiunti</p>
                      </div>
                      <div v-for="sub in getQuestData(activeStories[0]).subquest_rewards">
                        <div v-for="goto in sub.added_goto" class="container row">
                          <div class="col-4"><p>Da: {{ sub.title || sub.number }}</p></div>
                          <div class="col-4"><p>Risposta: {{  goto[0] || "No_risposta"  }}</p></div>
                          <div class="col-4"><p>Porta a: {{ goto[1] }}</p></div>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div v-if="!previewdata.in_mainquest" class="container m-1">
                    <div class="container row bg-primary">
                      <p class="text-light font-weight-bold">Soluzioni</p>
                    </div>
                    <div v-for="sol in getQuestData(activeStories[0]).solution" class="container row">
                      <p>{{ sol }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="players_data" class="container border" id="chat">
              <div class="row justify-content-center bg-secondary text-white rounded py-2"><h3>Inizia una chat con i giocatori</h3></div>
              <div class="btn-group p-2">
                <button class="btn btn-outline-secondary" v-for="(chat,id) in players_chat_from_story[activeStories[0]]" :class="chat_notify[id] ? 'btn-warning' : ''" v-on:click="switchIndex(id)">{{ id }}</button>
              </div>
              <div v-if="players_chat[current_chat_id]" v-for="msg in players_chat[current_chat_id]">
                {{ msg.sender }} scrive: {{ msg.text }}
              </div>
              <form class="btn-group" v-if="players_chat[current_chat_id]" v-on:submit.prevent>
                <input type="text" v-model="chat_msg[current_chat_id]">
                <button class="btn btn-success" v-on:click="sendChatMsg">Send</button>
              </form>
            </div>
            <div class="container border" id="answers">
              <div v-for="id in waitingForFeedback">
                <p>User: {{ id }}</p>
                <p>Text: {{ players_ans[id].answer.text }}</p>
                <img :src="players_ans[id].answer.imagedata">
                <form v-on:submit.prevent="sendFeedback(id, $event.target.elements.feedbackans.value)">
                  <div class="form-group" v-for="opt in computeJson(id).mainQuest[players_data[id].currentQuest].goto">
                    <label>{{ opt[0] }}</label>
                    <input type="radio" name="feedbackans" :value="opt[0]">
                  </div>
                  <input type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab per le storie oltre la prima selezionata ------------------------------------------------------------------------------------------>
        <div v-for="story in activeStories.slice(1)"
             class="tab-pane fade" :id="story"
             :aria-labelledby="story + 'tab'" role="tabpanel" >
          <div class="container">
            <div class="table-responsive table-wrapper">
              <div class="table-title bg-primary text-white rounded">
                <div class="row justify-content-around py-2">
                  <h1>Giocatori attivi</h1>
                  <div class="py-1">
                    <button v-if="players_data" @click="saveJson" class="btn btn-light" ><span class="material-icons">&#xE24D;</span>Esporta statistiche in JSON</button>
                  </div>
                </div>
              </div>
              <table v-if="players_data" class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th v-for="(value, key) in firstPlayer">{{ key }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="player in players_data_shown_from_story[story]">
                      <td v-for="value in player">{{ value }}</td>
                      <td v-if="players_data[player.user_id].finished === false" class="float-right">
                          <div v-if="players_data[player.user_id].time_inactive > 60" class="badge badge-warning">Bloccato da tempo</div>
                          <div v-if="players_data[player.user_id].help_requested === true" class="badge badge-warning">Ha richiesto aiuto</div>
                          <button type="button" class="btn btn-sm btn-primary"
                            @click="sendHelp(player.user_id)">Aiuta il giocatore</button>
                      </td>
                      <td v-else class="badge badge-success float-right">Ha finito!</td>
                  </tr>
                  </tbody>
              </table>
            </div><br>  
            </div>

            <div id="previewblock" v-if="ongoing_stories[activeStories[0]]" class="container mt-3 mb-3">
              <button class="btn btn-block btn-outline-secondary" type="button" data-toggle="collapse" data-target="#story-preview">Preview Storia</button>
              <div id="story-preview" class="container-fluid collapse overflow-auto p-2"> 
                <div id="preview-menu" class="row">
                  <div class="form-check col-md-3">
                    <label class="form-check-label">
                      <input type="checkbox" v-model="previewdata.in_mainquest">
                      Mainquest
                    </label>
                  </div>
                  <div class="form-group col-md-6">
                    <div v-if="previewdata.in_mainquest">
                      <label for="mainselect">Seleziona Main</label>
                      <select class="form-input" v-model="previewdata.currentQuest">
                        <option v-for="quest in ongoing_stories[story].mainQuest" :value="quest.number">{{ quest.number }}: {{ ( quest.title || "" ) }}</option>
                      </select>
                    </div>
                    <div v-if="!previewdata.in_mainquest">
                      <label for="mainselect">Seleziona Sub</label>
                      <select class="form-input" v-model="previewdata.currentSub">
                        <option v-for="quest in ongoing_stories[story].subQuests" :value="quest.number">{{ quest.number }}: {{ ( quest.title || "" ) }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div id="preview-view" v-if="getQuestData(story)">
                  <div class="row m-1">
                    <div class="bg-primary col-6"><p class="text-light font-weight-bold">Titolo</p></div>
                    <div class="col-6">{{ (getQuestData(story).title || "none") }}</div>
                  </div>
                  <div class="row m-1">
                    <div class="bg-primary col-6"><p class="text-light font-weight-bold">Testo</p></div>
                    <div class="col-6"><p>{{ (getQuestData(story).text || "none") }}</p></div>
                  </div>
                  <div class="row m-1">
                    <div class="bg-primary col-6"><p class="text-light font-weight-bold">Descrizione</p></div>
                    <div class="col-6"><p>{{ (getQuestData(story).description || "none") }}</p></div>
                  </div>
                  <div class="row m-1">
                    <div class="bg-primary col-6"><p class="text-light font-weight-bold">Media</p></div>
                    <div class="col-6"><p>{{ (getQuestData(story).description || "none") }}</p></div>
                  </div>
                  <div v-if="getQuestData(story).type=='choice'" class="container m-1">
                    <div class="row bg-primary">
                      <p class="text-light font-weight-bold">Opzioni standard</p>
                    </div>
                    <div v-for="opt in getQuestData(story).options" class="row">
                      <p>{{ opt }}</p>
                    </div>
                    <div v-if="getQuestData(story).subquest_rewards.length > 0">
                      <div class="row bg-primary">
                        <p class="text-light font-weight-bold">Opzioni aggiunte</p>
                      </div>
                      <div v-for="sub in getQuestData(story).subquest_rewards">
                        <div v-for="opt in sub.added_options" class="row">
                          <div class="col-6"><p>Da: {{ sub.title || sub.number }}</p></div>
                          <div class="col-6"><p>{{ opt }}</p></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="previewdata.in_mainquest" class="container m-1">
                    <div class="container row bg-primary">
                      <p class="text-light font-weight-bold">Goto standard</p>
                    </div>
                    <div v-for="goto in getQuestData(story).goto" class="container row">
                      <div class="col-6"><p>Risposta: {{ goto[0] }}</p></div>
                      <div class="col-6"><p>Porta a: {{ goto[1] }}</p></div>
                    </div>
                    <div v-if="getQuestData(story).subquest_rewards.length > 0">
                      <div class="container row bg-primary">
                        <p class="text-light font-weight-bold">Goto aggiunti</p>
                      </div>
                      <div v-for="sub in getQuestData(story).subquest_rewards">
                        <div v-for="goto in sub.added_goto" class="container row">
                          <div class="col-4"><p>Da: {{ sub.title || sub.number }}</p></div>
                          <div class="col-4"><p>Risposta: {{  goto[0] || "No_risposta"  }}</p></div>
                          <div class="col-4"><p>Porta a: {{ goto[1] }}</p></div>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div v-if="!previewdata.in_mainquest" class="container row m-1">
                    <div class="container row bg-primary">
                      <p class="text-light font-weight-bold">Soluzioni</p>
                    </div>
                    <div v-for="sol in getQuestData(story).solution" class="container row">
                      <p>{{ sol }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div v-if="players_data" class="container border" id="chat">
              <div class="row justify-content-center bg-secondary text-white rounded py-2"><h3>Inizia una chat con i giocatori</h3></div>
              <div class="btn-group p-2">
                <button class="btn btn-outline-secondary" v-for="(chat,id) in players_chat_from_story[story]" :class="chat_notify[id] ? 'btn-warning' : ''" v-on:click="switchIndex(id)">{{ id }}</button>
              </div>
              <div v-if="players_chat[current_chat_id]" v-for="msg in players_chat[current_chat_id]">
                {{ msg.sender }} scrive: {{ msg.text }}
              </div>
              <form class="btn-group" v-if="players_chat[current_chat_id]" v-on:submit.prevent>
                <input type="text" v-model="chat_msg[current_chat_id]">
                <button class="btn btn-success" v-on:click="sendChatMsg">Send</button>
              </form>
            </div>
            <div class="container border" id="answers">
              <div v-for="id in waitingForFeedback">
                <p>User: {{ id }}</p>
                <p>Text: {{ players_ans[id].answer.text }}</p>
                <img :src="players_ans[id].answer.imagedata">
                <form v-on:submit.prevent="sendFeedback(id, $event.target.elements.feedbackans.value)">
                  <div class="form-group" v-for="opt in computeJson(id).mainQuest[players_data[id].currentQuest].goto">
                    <label>{{ opt[0] }}</label>
                    <input type="radio" name="feedbackans" :value="opt[0]">
                  </div>
                  <input type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--finito il blocco delle tab ------------------------------------------------------------------------------------->

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="vue_valutatore.js"></script>
    <script type="text/javascript" src="utils.js"></script>
  </body>
</html>
