<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="extvalutatore.css" rel="stylesheet">
    <link href="colors.css" rel="stylesheet">
    <link id="externalFontUrl" href="" rel="stylesheet">
    <title>Ambiente Valutatore</title>
</head>

<body class="bg-light">
    <div id="app" class="container-fluid">
        <div class="jumbotron jumbotron-fluid color-static text-light rounded my-1">
            <div class="container-fluid">
                <h1>Ambiente Valutatore</h1>
                <p>Monitora ed aiuta i giocatori di M&M!</p>
            </div>
            <div class="container-fluid border-top pt-3">
                <p>Avrai la possibilità di monitorare il punto in cui si trovano i giocatori e potrai aiutarli.<br>
                   Utilizza a tal proposito il pannello "attività della storia" per vedere l'attività in cui si trova il giocatore e le risposte che dovrebbe dare.
                   Potrai anche utilizzare la chat per scambiare dei messaggi direttamente con il giocatore</p>
            </div>
        </div>
        <div class="row container-fluid mt-3 mx-0 p-0">
            <div class="container-fluid col-md-3 border-right pl-2 pr-3">
                <div class="d-flex justify-content-center my-2">
                    <h2 class="font-weight-bold">Storie in gioco</h2>
                </div>
                <ul class="nav nav-pills col-12 d-flex justify-content-center p-0" role="tablist">
                    <li class="nav-item col-12 m-0 p-0">
                        <button class="nav-link active btn color-interact border btn-block" @click="currentStory = activeStories[0]; current_chat_id = null; switchIndex(null);"
                        :id="activeStories[0] + 'tab'" :href="'#' + activeStories[0]" data-toggle="tab" role="tab" :aria-controls="activeStories[0]" aria-selected="true">
                        {{ activeStories[0] }}</button>
                    </li>
                    <li v-for="story in activeStories.slice(1)" class="nav-item col-12 m-0 p-0">
                        <button class="nav-link btn color-interact border btn-block" @click="currentStory = story; current_chat_id = null; switchIndex(null);"
                        :id="story + 'tab'" :href="'#'+story" data-toggle="tab" role="tab" :aria-controls="story" aria-selected="false">{{ story }}</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 tab-content pl-3 pr-0">
                <!-- Tab con le informazioni dei giocatori------------------------------------------------------------------------------------------------------------------>
                <div v-for="story in activeStories" :class="(story == activeStories[0]) ? 'show active' : ' '" class="tab-pane" :id="story" :aria-labelledby="story + 'tab'" role="tabpanel">
                    <div class="container container-fluid col-12 p-0">
                        <div class="table-responsive table-wrapper">
                            <div class="jumbotron jumbotron-fluid color-static text-light rounded py-2">
                                <div class="container-fluid border-bottom">
                                    <h2 class="ml-2 my-3">Giocatori attivi</h2>
                                </div>
                                <div class="container-fluid">
                                    <p class="mt-3 mb-4 ml-2">Cliccando su "Aiuta il giocatore" avrai la possibilità di inserire un aiuto all'interno della storia. Questo aiuto verrà
                                        mostrato come indizio aggiuntivo nella descrizione della storia.<br> In alternativa è possibile iniziare una vera e propria conversazione con
                                        il giocatore cliccando sul bottone "Chat" in basso.</p>
                                </div>
                            </div>
                            <table v-if="players_data" class="table table-striped border-bottom">
                                <thead>
                                    <tr>
                                        <th>Nome del Giocatore</th>
                                        <th>Tipo di Quest</th>
                                        <th>Nome della Quest</th>
                                        <th>Subquest completate</th>
                                        <th>Segnalazioni</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="player in players_data_shown_from_story[story]">
                                        <!-- informazioni sullo stato del player -->
                                        <td>{{ player.user_id }}</td>
                                        <td>{{ player.in_mainquest ? "mainQuest" : "Subquest"}}</td>
                                        <td v-if="player.in_mainquest">{{ ongoing_stories[currentStory] ? ongoing_stories[currentStory].mainQuest[player.currentQuest].title : " "}}</td>
                                        <td v-if="!player.in_mainquest">{{ ongoing_stories[currentStory] ? ( ongoing_stories[currentStory].subQuests[player.currentSub] ?
                                              ongoing_stories[currentStory].subQuests[player.currentSub].title : " " ) : " " }}
                                        </td>
                                        <td>
                                            <div v-if="player.completedSubs.length > 0" class="btn-group dropup">
                                                <button type="button" class="btn btn-default dropdown-toggle pre-button" data-toggle="dropdown">
                                                    {{ player.completedSubs.length }}&nbsp</button>
                                                <ul class="dropdown-menu">
                                                    <li v-for="sub in player.completedSubs" class="dropdown-item pre">
                                                        {{ ongoing_stories[currentStory] ? ( ongoing_stories[currentStory].subQuests[sub] ?
                                                          ongoing_stories[currentStory].subQuests[sub].title : " " ) : " " }}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div v-else>
                                                <label class="ml-3">{{ player.completedSubs.length }}</label>
                                            </div>
                                        </td>
                                        <!-- banner di avvertimento -->
                                        <td v-if="players_data[player.user_id].finished === false">
                                            <div class="container-fluid p-0">
                                                <div class="col-11 p-0" v-if="players_data[player.user_id].time_inactive > 60">
                                                    <button class="btn color-warning border btn-block pre-button p-1">Bloccato da tempo</button>
                                                </div>
                                                <div class="col-11 p-0" v-if="players_data[player.user_id].help_requested === true">
                                                    <button class="btn color-warning border btn-block pre-button p-1">Ha richiesto aiuto</button>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- serve per la tabulazione corretta-->
                                        <td v-else></td>
                                        <td v-if="players_data[player.user_id].finished === false">
                                            <button class="btn color-interact" @click="sendHelp(player.user_id)">Aiuta il giocatore</button>
                                        </td>
                                        <td v-else>
                                            <button class="btn pre-button color-ended">Ha finito!</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- bottoni cancella e scarica dati -->
                <div class="d-flex justify-content-end mr-4">
                    <div class="btn-group mx-2">
                        <button v-if="players_data" class="col btn color-interact" @click="saveJson" data-toggle="tooltip" title="scarica statistiche in formato JSON">
                            ESPORTA STATISTICHE</button>
                        <button class="col btn btn-danger" @click="clearAllData" data-toggle="tooltip" title="rimuovi tutti i dati raccolti finora">CANCELLA DATI</button>
                    </div>
                </div>
                <!-- preview -->
                <button class="btn btn-block color-expand mt-4 mx-0" type="button" data-toggle="collapse" data-target="#story-preview">ATTIVITA' DELLA STORIA
                    <i class="fas fa-angle-double-down"></i>
                </button>

                <div id="story-preview" v-if="ongoing_stories[activeStories[0]]" class="container-fluid collapse mt-3 p-2 row">
                    <div id="preview-menu" class="col-md-6 p-3 mt-2 mb-1">
                        <div class="pb-3" id="preview-menu-container" :class=" (!previewdata.in_mainquest && (ongoing_stories[currentStory].subQuests.length == 1 && ongoing_stories[currentStory].subQuests[0].text == ''
                                && ongoing_stories[currentStory].subQuests[0].title == '') ) ? ' ' : 'border-bottom'">
                            <!-- selettori per il previewdata -->
                            <div class="btn-group container-fluid mx-3 mb-3 mt-2 col-8">
                                <button class="btn color-interact border" v-on:click="previewdata.in_mainquest = true" :disabled="previewdata.in_mainquest">MainQuests</button>
                                <button class="btn color-interact border" v-on:click="previewdata.in_mainquest = false" :disabled="!previewdata.in_mainquest">SubQuests</button>
                            </div>
                            <div class="form-group m-3 mb-4 px-3 col-8">
                                <div v-if="previewdata.in_mainquest">
                                    <label for="mainselect" class="font-weight-bold">Seleziona MainQuest</label>
                                    <select class="form-control" v-model="previewdata.currentQuest">
                                        <option v-for="quest in ongoing_stories[currentStory].mainQuest" :value="quest.number">{{ quest.number }}: {{ ( quest.title || "" ) }}</option>
                                    </select>
                                </div>
                                <div v-if="!previewdata.in_mainquest && ongoing_stories[currentStory].subQuests.length > 1">
                                    <label for="mainselect" class="font-weight-bold">Seleziona SubQuest</label>
                                    <select class="form-control" v-model="previewdata.currentSub">
                                        <option v-for="quest in ongoing_stories[currentStory].subQuests" :value="quest.number">{{ quest.number }}: {{ ( quest.title || "" ) }}</option>
                                    </select>
                                </div>
                                <div v-if="!previewdata.in_mainquest && (ongoing_stories[currentStory].subQuests.length == 1 && ongoing_stories[currentStory].subQuests[0].text == ''
                                    && ongoing_stories[currentStory].subQuests[0].title == '')" class="d-flex justify-content-center">
                                    <label class="font-weight-bold">Non sono presenti Subquests</label>
                                </div>
                            </div>
                            <div v-if="previewdata.in_mainquest && getCurrentQuestData.subquest_rewards.length > 0" class="form-group mx-3 mb-0 px-3">
                                <label for="subquestsCompletate" class="font-weight-bold">SubQuest Completate</label>
                                <div id="subquestsCompletate" v-for="sub in getCurrentQuestData.subquest_rewards" class="form-check">
                                    <input type="checkbox" class="form-check-input" :name="'sub' + sub.number" :value="sub.number" v-model="previewdata.completedSubs">
                                    <label for="'sub' + sub.number" class="form-check-label"> {{ sub.title || "Subquest "+sub.number }}</label>
                                </div>
                            </div>
                        </div>
                        <!-- mostra soluzioni e destinazioni delle quests -->
                        <div class="p-3 my-1" id="solutions-container">
                            <div class="mx-3" v-if="previewdata.in_mainquest && !(getCurrentQuestData.goto.length == 1 && getCurrentQuestData.goto[0][0] == '')">
                                <div v-if="( getCurrentQuestData.type == 'input' || getCurrentQuestData.type == 'keys' || getCurrentQuestData.type == 'draw'
                                            || getCurrentQuestData.type == 'choice' ) && getCurrentGotos.length > 0">
                                    <label class="font-weight-bold">Destinazioni</label>
                                    <ul>
                                        <li v-if="getCurrentQuestData.type != 'draw'" v-for="sol in getCurrentGotos">La risposta <span class="principal">{{ sol[0] }}</span> porta a
                                              <span class="principal">{{ ( getQuest(sol[1]).title || "MainQuest "+sol[1] ) }}</span><br>
                                              <label v-if="sol[2] != ''">Punteggio: {{ sol[2] }}<label><br>
                                        </li>
                                        <li v-if="getCurrentQuestData.type == 'draw'" v-for="sol in getCurrentGotos">
                                              <span v-if="sol[0] != ''">tutti i punti all'interno della circonferenza con centro in <span class="principal">({{ sol[0][0] }},{{ sol[0][1] }})</span> e raggio <span class="principal">{{ sol[0][2] }}</span></span>
                                              <span v-if="sol[0] == ''">tutti gli altri punti</span>
                                              portano a <span class="principal">{{ ( getQuest(sol[1]).title || "MainQuest "+sol[1] ) }}</span><br>
                                              <label v-if="sol[2] != ''">Punteggio: {{ sol[2] }}<label>
                                        </li>
                                    </ul>
                                    <label v-if="getCurrentQuestData.type == 'draw' && previewdata.picked">La selezione corrente è:
                                          ({{ previewdata.picked[0] }},{{ previewdata.picked[1] }})<label>
                                </div>
                            </div>
                            <div class="mx-3" v-if="!previewdata.in_mainquest && ongoing_stories[currentStory].subQuests.length > 1">
                                <div v-if="( getCurrentQuestData.type == 'input' || getCurrentQuestData.type == 'keys' || getCurrentQuestData.type == 'draw' )">
                                    <label class="font-weight-bold">Soluzioni</label>
                                    <ul>
                                        <li v-if=" getCurrentQuestData.type != 'draw' " v-for="sol in getCurrentQuestData.solution">{{ sol }}
                                            <label v-if="sol[2] != ''">Punteggio: {{ sol[2] }}<label></li>
                                        <li v-if=" getCurrentQuestData.type == 'draw' " v-for="sol in getCurrentQuestData.solution">tutti i punti all'interno della circonferenza con centro in
                                            <span class="principal">({{ sol[0] }},{{ sol[1] }})</span> e raggio <span class="principal">{{ sol[2] }}</span></li>
                                    </ul>
                                    <label v-if="getCurrentQuestData.type == 'draw' && previewdata.picked">La selezione corrente è:
                                          ({{ previewdata.picked[0] }},{{ previewdata.picked[1] }})<label>
                                </div>
                                <div v-if="(  getCurrentQuestData.type == 'choice' )">
                                    <label class="font-weight-bold">La soluzione è:</label>
                                    <ul>
                                        <li>{{ getCurrentQuestData.solution[0] }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PREVIEW -->
                    <div id="preview-container" class="col-md-5 py-3 d-flex justify-content-center" v-if="previewdata.in_mainquest || (!previewdata.in_mainquest && ongoing_stories[currentStory].subQuests.length > 1)">
                        <div id="preview" class="p-0" v-cover :style="previewStyle">
                            <!--Area quest-->
                            <div ref="questrender" class="card player-card-author overflow-auto" :class="cardBootstrapStyle" :style="cardStyle" aria-live="polite">
                                <div class="card-header" :style="cardLimitStyle">
                                    <h3 id="questname" ref="questname" tabindex="-1" :style="removePredefinedStylesCard">
                                        {{previewdata.in_mainquest ? "Quest" : "Subquest"}}
                                        {{ previewdata.in_mainquest ? previewdata.currentQuest : previewdata.currentSub }}: {{ getCurrentQuestData.title || "Senza nome" }}
                                    </h3>
                                </div>
                                <div ref="cardbody" class="card-body overflow-auto" :style="removePredefinedStylesCard">
                                    <form ref="inputForm" v-on:submit.prevent="previewdata.picked = null">
                                        <p style="white-space: pre-line;">{{ getCurrentQuestData.text }}</p>
                                        <p style="white-space: pre-line;">{{ getCurrentQuestData.description || "" }}</p>
                                        <ul v-if="previewdata.in_mainquest && getCurrentClues.length > 0">
                                            <li v-for="clue in getCurrentClues" v-if="clue">{{ clue }}</li>
                                        </ul>
                                        <!--Qua sotto div in cui caricare box per dare input usando components, cambia a seconda del tipo di quest-->
                                        <div id="gameinput">
                                            <component v-bind:is="currentComponent" :gamedata="getCurrentQuestData" :metadata="metadata"
                                              :current="previewdata.in_mainquest ? previewdata.currentQuest : previewdata.currentSub"
                                              :options="previewdata.in_mainquest ? getCurrentOptions : getCurrentQuestData.options" v-model="previewdata.picked"
                                              @change="upgradeSubmitStyle(false)" ref="inputComponent" :styles="componentStyle"></component>
                                        </div>
                                    </form>
                                    <!--EVENTUALI MEDIA-->
                                    <div v-if="getCurrentQuestData.media">
                                        <img width="100%" v-if="getCurrentQuestData.media.type=='image'" :src="getMediaSrc" :alt="getCurrentQuestData.media.alt">
                                        <div v-if="getCurrentQuestData.media.type=='video'">
                                            <video width="100%" :aria-label="getCurrentQuestData.media.alt" controls :src="getMediaSrc">
                                            </video>
                                        </div>
                                        <!--p v-if="getCurrentQuestData.media.type=='image'" :alt="getCurrentQuestData.media.alt">Immagine: "{{ getCurrentQuestData.media.alt }}"</p>
                                        <p v-if="getCurrentQuestData.media.type=='video'" :alt="getCurrentQuestData.media.alt">Video: "{{ getCurrentQuestData.media.alt }}"</p-->
                                    </div>
                                </div>
                                <div v-if="getCurrentQuestData.type != 'ending'" class="card-footer" :style="cardLimitStyle">
                                    <button id="submit" ref="submitbutton" class="btn mb-3" type="button" :disabled="submitDisabled"
                                          :class="submitBootstrapStyle" :style="submitStyle" @click="previewdata.picked = null">
                                        Conferma
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- chat -->
                <button class="btn btn-block color-expand mt-2 mx-0" type="button" data-toggle="collapse" data-target="#chatroom">CHAT
                    <i class="fas fa-angle-double-down"></i>
                </button>
                <div id="chatroom" class="container-fluid collapse m-2 mt-3">
                    <div v-if="players_data" class="row" id="chat">
                        <div class="list-group col-4 row pl-2 pr-0 border-right" id="chatbutton">
                            <button type="button" class="list-group-item list-group-item-action chat-user" :id="'userChatButton'+id"
                                    v-for="(chat,id) in players_chat_from_story[currentStory]" :class="(chat_notify[id] ? 'color-warning' : ' ')+' '+(current_chat_id == id ? 'chat-user-selected' : ' ')" v-on:click="switchIndex(id)">{{ id }}</button>
                        </div>
                        <div class="container col-8 p-0 pl-2" id="chatcontainer">
                            <div id="chatmessagecontainer">
                                <div v-if="players_chat[current_chat_id]" v-for="msg in players_chat[current_chat_id]" class="chatmessage" :class="{ 'float-left' : (msg.sender != 'Valutatore') }">
                                    <div class="card">
                                        <div class="card-body p-2">
                                            <div class="card-subtitle text-muted px-1 pt-1 pb-0">{{ msg.sender }}</div>
                                            <div class="card-text px-1 pb-1 pt-0">{{ msg.text }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="btn-group w-100 mb-2 sendbutton" v-on:submit.prevent>
                                <input class="w-75" type="text" v-model="chat_msg[current_chat_id]">
                                <button class="btn btn-success" v-on:click="sendChatMsg">Invia</button>
                            </form>
                        </div>
                    </div>
                    <div class="container border" id="answers">
                        <div v-for="id in waitingForFeedback">
                            <p>User: {{ id }}</p>
                            <p>Text: {{ players_ans[id].answer.text }}</p>
                            <img :src="players_ans[id].answer.imagedata">
                            <form v-on:submit.prevent="sendFeedback(id, $event.target.elements.feedbackans.value)">
                                <div class="form-group" v-for="opt in computeJson(id).mainQuest[players_data[id].currentQuest].goto">
                                    <label>{{ opt[0] }}</label>
                                    <input type="radio" name="feedbackans" :value="opt[0]">
                                </div>
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
          </div>
        </div>
    <!--finito il blocco delle tab ------------------------------------------------------------------------------------->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="style_consts.js"></script>
    <script type="text/javascript" src="vue_valutatore.js"></script>
    <script type="text/javascript" src="utils.js"></script
</body>

</html>
