<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="extvalutatore.css" rel="stylesheet">
    <link href="colors.css" rel="stylesheet">
    <title>Ambiente Valutatore</title>
</head>

<body class="bg-light">
    <div id="app" class="container-fluid">
        <div class="jumbotron jumbotron-fluid color-static text-light rounded my-1">
            <div class="container-fluid">
                <h1>Ambiente Valutatore</h1>
                <p>Monitora ed aiuta i giocatori di M&M!</p>
            </div>
            <div class="container-fluid border-top pt-3">
                <p>Avrai la possibilità di monitorare il punto in cui si trovano i giocatori e potrai aiutarli.<br>
                   Utilizza a tal proposito l'anteprima della storia (con anche le risposte corrette) e la chat con i giocatori.
                   Troverai questi pannelli cliccando sul bottone INTERAGISCI</p>
            </div>
        </div>
        <div class="row container-fluid mt-3 mx-0 p-0">
            <div class="container-fluid col-md-3 border-right pl-2 pr-3">
                <div class="d-flex justify-content-center my-2">
                    <h2 class="font-weight-bold">Storie in gioco</h2>
                </div>
                <ul class="nav nav-pills col-12 d-flex justify-content-center p-0" role="tablist">
                    <li class="nav-item col-12 m-0 p-0">
                        <button class="nav-link active btn color-interact border btn-block" @click="currentStory = activeStories[0]"
                        :id="activeStories[0] + 'tab'" :href="'#' + activeStories[0]" data-toggle="tab" role="tab" :aria-controls="activeStories[0]" aria-selected="true">
                        {{ activeStories[0] }}</button>
                    </li>
                    <li v-for="story in activeStories.slice(1)" class="nav-item col-12 m-0 p-0">
                        <button class="nav-link btn color-interact border btn-block" @click="currentStory = story"
                        :id="story + 'tab'" :href="'#'+story" data-toggle="tab" role="tab" :aria-controls="story" aria-selected="false">{{ story }}</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 tab-content pl-3 pr-0">
              <!-- Tab con le informazioni dei giocatori------------------------------------------------------------------------------------------------------------------>
              <div v-for="story in activeStories" :class="(story == activeStories[0]) ? 'show active' : ' '" class="tab-pane" :id="story" :aria-labelledby="story + 'tab'" role="tabpanel">
                  <div class="container container-fluid col-12 p-0">
                      <div class="table-responsive table-wrapper">
                          <div class="container container-fluid color-static text-light rounded mx-0 my-0 py-3 pl-4 col-12">
                              <h2 class="m-0">Giocatori attivi</h2>
                          </div>
                          <table v-if="players_data" class="table table-striped table-hover">
                              <thead>
                                  <tr>
                                      <th>Nome del Giocatore</th>
                                      <th>Tipo di Quest</th>
                                      <th>Nome della Quest</th>
                                      <th>Subquest completate</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr v-for="player in players_data_shown_from_story[story]">
                                      <!-- informazioni sullo stato del player -->
                                      <td>{{ player.user_id }}</td>
                                      <td>{{ player.in_mainquest ? "mainQuest" : "Subquest"}}</td>
                                      <td v-if="player.in_mainquest">{{ ongoing_stories[currentStory] ? ongoing_stories[currentStory].mainQuest[player.currentQuest].title : " "}}</td>
                                      <td v-if="!player.in_mainquest">{{ ongoing_stories[currentStory] ? ongoing_stories[currentStory].subQuests[player.currentSub].title : " "}}</td>
                                      <td class="row">
                                          <label class="">{{ player.completedSubs.length }}</label>
                                          <div v-if="player.completedSubs.length > 0" class="dropdown">
                                              <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a v-for="sub in player.completedSubs" class="dropdown-item" href="#">
                                                    {{ ongoing_stories[currentStory] ? ongoing_stories[currentStory].subQuests[sub].title : " " }}</a>
                                              </div>
                                          </div>
                                      </td>
                                      <!-- banner di avvertimento -->
                                      <td v-if="players_data[player.user_id].finished === false" class="float-right">
                                          <div v-if="players_data[player.user_id].time_inactive > 60" class="badge badge-warning">Bloccato da tempo</div>
                                          <div v-if="players_data[player.user_id].help_requested === true" class="badge badge-warning">Ha richiesto aiuto</div>
                                          <button type="button" class="btn btn-sm btn-primary" @click="sendHelp(player.user_id)">Aiuta il giocatore</button>
                                      </td>
                                      <td v-else class="badge badge-success float-right">Ha finito!</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div><br>
                  </div>
              </div>
              <!-- bottoni cancella e scarica dati -->
              <div class="d-flex justify-content-end mr-4">
                  <div class="btn-group mx-2">
                      <button v-if="players_data" class="col btn color-interact" @click="saveJson" data-toggle="tooltip" title="scarica statistiche in formato JSON">
                          ESPORTA STATISTICHE</button>
                      <button class="col btn btn-danger" @click="clearAllData" data-toggle="tooltip" title="rimuovi tutti i dati raccolti finora">CANCELLA DATI</button>
                  </div>
              </div>
              <!-- seconda parte con la preview e la chat -->
              <div class="container-fluid mt-5">

                  <div id="previewblock" v-if="ongoing_stories[activeStories[0]]" class="container mt-3 mb-3">
                      <button class="btn btn-block btn-outline-secondary" type="button" data-toggle="collapse" data-target="#story-preview">Preview Storia</button>
                      <div id="story-preview" class="container-fluid collapse overflow-auto p-2">
                          <div id="preview-menu" class="row">
                              <div class="form-check col-md-3">
                                  <label class="form-check-label">
                                      <input type="checkbox" v-model="previewdata.in_mainquest">
                                      Mainquest
                                  </label>
                              </div>
                              <div class="form-group col-md-6">
                                  <div v-if="previewdata.in_mainquest">
                                      <label for="mainselect">Seleziona Main</label>
                                      <select class="form-input" v-model="previewdata.currentQuest">
                                          <option v-for="quest in ongoing_stories[currentStory].mainQuest" :value="quest.number">{{ quest.number }}: {{ ( quest.title || "" ) }}</option>
                                      </select>
                                  </div>
                                  <div v-if="!previewdata.in_mainquest">
                                      <label for="mainselect">Seleziona Sub</label>
                                      <select class="form-input" v-model="previewdata.currentSub">
                                          <option v-for="quest in ongoing_stories[currentStory].subQuests" :value="quest.number">{{ quest.number }}: {{ ( quest.title || "" ) }}</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                          <div id="preview-view" v-if="getQuestData(currentStory)">
                              <div class="row m-1">
                                  <div class="bg-primary col-6">
                                      <p class="text-light font-weight-bold">Titolo</p>
                                  </div>
                                  <div class="col-6">{{ (getQuestData(currentStory).title || "none") }}</div>
                              </div>
                              <div class="row m-1">
                                  <div class="bg-primary col-6">
                                      <p class="text-light font-weight-bold">Testo</p>
                                  </div>
                                  <div class="col-6">
                                      <p>{{ (getQuestData(currentStory).text || "none") }}</p>
                                  </div>
                              </div>
                              <div class="row m-1">
                                  <div class="bg-primary col-6">
                                      <p class="text-light font-weight-bold">Descrizione</p>
                                  </div>
                                  <div class="col-6">
                                      <p>{{ (getQuestData(currentStory).description || "none") }}</p>
                                  </div>
                              </div>
                              <div class="row m-1">
                                  <div class="bg-primary col-6">
                                      <p class="text-light font-weight-bold">Media</p>
                                  </div>
                                  <div class="col-6">
                                      <p>{{ (getQuestData(currentStory).description || "none") }}</p>
                                  </div>
                              </div>
                              <div v-if="getQuestData(currentStory).type=='choice'" class="container m-1">
                                  <div class="row bg-primary">
                                      <p class="text-light font-weight-bold">Opzioni standard</p>
                                  </div>
                                  <div v-for="opt in getQuestData(currentStory).options" class="row">
                                      <p>{{ opt }}</p>
                                  </div>
                                  <div v-if="getQuestData(currentStory).subquest_rewards.length > 0">
                                      <div class="row bg-primary">
                                          <p class="text-light font-weight-bold">Opzioni aggiunte</p>
                                      </div>
                                      <div v-for="sub in getQuestData(currentStory).subquest_rewards">
                                          <div v-for="opt in sub.added_options" class="row">
                                              <div class="col-6">
                                                  <p>Da: {{ sub.title || sub.number }}</p>
                                              </div>
                                              <div class="col-6">
                                                  <p>{{ opt }}</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div v-if="previewdata.in_mainquest" class="container m-1">
                                  <div class="container row bg-primary">
                                      <p class="text-light font-weight-bold">Goto standard</p>
                                  </div>
                                  <div v-for="goto in getQuestData(currentStory).goto" class="container row">
                                      <div class="col-6">
                                          <p>Risposta: {{ goto[0] }}</p>
                                      </div>
                                      <div class="col-6">
                                          <p>Porta a: {{ goto[1] }}</p>
                                      </div>
                                  </div>
                                  <div v-if="getQuestData(currentStory).subquest_rewards.length > 0">
                                      <div class="container row bg-primary">
                                          <p class="text-light font-weight-bold">Goto aggiunti</p>
                                      </div>
                                      <div v-for="sub in getQuestData(currentStory).subquest_rewards">
                                          <div v-for="goto in sub.added_goto" class="container row">
                                              <div class="col-4">
                                                  <p>Da: {{ sub.title || sub.number }}</p>
                                              </div>
                                              <div class="col-4">
                                                  <p>Risposta: {{ goto[0] || "No_risposta"  }}</p>
                                              </div>
                                              <div class="col-4">
                                                  <p>Porta a: {{ goto[1] }}</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div v-if="!previewdata.in_mainquest" class="container row m-1">
                                  <div class="container row bg-primary">
                                      <p class="text-light font-weight-bold">Soluzioni</p>
                                  </div>
                                  <div v-for="sol in getQuestData(currentStory).solution" class="container row">
                                      <p>{{ sol }}</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div v-if="players_data" class="container border" id="chat">
                      <div class="row justify-content-center bg-secondary text-white rounded py-2">
                          <h3>Inizia una chat con i giocatori</h3>
                      </div>
                      <div class="btn-group p-2" id="chatbutton">
                          <button class="btn btn-outline-secondary" v-for="(chat,id) in players_chat_from_story[currentStory]" :class="chat_notify[id] ? 'btn-warning' : ''" v-on:click="switchIndex(id)">{{ id }}</button>
                      </div>
                      <div class="container border" id="chatcontainer">
                          <div v-if="players_chat[current_chat_id]" v-for="msg in players_chat[current_chat_id]" class="chatmessage" v-bind:class="{ 'float-left' : (msg.sender != 'Valutatore') }">
                              <div class="card">
                                  <div class="card-body">
                                      <div class="card-subtitle text-muted">{{ msg.sender }}</div>
                                      <div class="card-text">{{ msg.text }}</div>
                                  </div>
                              </div>
                          </div>
                          <form class="btn-group w-100" v-if="players_chat[current_chat_id]" v-on:submit.prevent>
                              <input class="w-75" type="text" v-model="chat_msg[current_chat_id]">
                              <button class="btn btn-success" v-on:click="sendChatMsg">Invia</button>
                          </form>
                      </div>
                  </div>
                  <div class="container border" id="answers">
                      <div v-for="id in waitingForFeedback">
                          <p>User: {{ id }}</p>
                          <p>Text: {{ players_ans[id].answer.text }}</p>
                          <img :src="players_ans[id].answer.imagedata">
                          <form v-on:submit.prevent="sendFeedback(id, $event.target.elements.feedbackans.value)">
                              <div class="form-group" v-for="opt in computeJson(id).mainQuest[players_data[id].currentQuest].goto">
                                  <label>{{ opt[0] }}</label>
                                  <input type="radio" name="feedbackans" :value="opt[0]">
                              </div>
                              <input type="submit" value="Submit">
                          </form>
                      </div>
                  </div>

              </div>
          </div>
        </div>
    <!--finito il blocco delle tab ------------------------------------------------------------------------------------->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="vue_valutatore.js"></script>
    <script type="text/javascript" src="utils.js"></script>
</body>

</html>
